// Pop ups
	.popUp{
		width:400px;
		margin:0 auto;
		background:#fff;
		position:relative;
	}

	#passRetrival{
		width:400px;
		height:261px;
		background:#fff url("../img/bgPassPopup.jpg") bottom left no-repeat;
		padding:50px 30px 50px 118px;
		h4{
			@include regular(24.8px, $greenText);
			position:relative;
			margin-bottom:20px;
			&:before{
				@include PE();
				position:absolute;
				content:"?";
				left:-25px;
				top:4px;
				color:#fff;
				width:19px;
				height:19px;
				background:$greenText;
				line-height: 19px;
				text-align:center;
				@include border-radius(99px);
				font-size:12px;
			}
		}
		p{
			@include regular(14.43px, $greenText);
			margin-bottom:20px;
			&:last-child{
				margin-bottom:10px;
			}
		}
		form{
			position:relative;
			input[type="email"]{
				width:160px;
				height:25px;
				border:2px solid #a0a3a5;
				float:left;
				@include regular(13.8px, #a0a3a5);
				padding:0 4px;
				&:active, &:focus{
					outline:0;
				}
				&.parsley-error, &.error{
					border:2px solid $error;
				}
			}
			input[type="submit"]{
				@include transition(all 300ms);
				float: right;
				background:$greenText;
				@include border-radius(99px);
				@include regular(13px, #fff);
				padding:3px 10px;
				border:0px;
				@include box-shadow(0px 0px 0px transparent);
				cursor:pointer;
				&:hover{
					background:$lightGreen;
					color:$darkGreen;
				}
			}
			.error{
				margin-bottom:0px;
				position: absolute;
				width: 100%;
				bottom: -70px;
				padding: 5px;
				border-radius: 5px 5px 5px 5px ;
				@include bold(10px, $darkGreen);
				line-height:1.3;
				text-align:left;
				&.filled{
					background:$lightGreen;
					border:1px solid $green;
					bottom:-62px;
					&:after{
						@include PE();
						width:16px;
						height:14px;
						background:url("../img/tooltipUp.png") center center no-repeat;
						position:absolute;
						top:-14px;
						left:20px;
					}
				}
			}
			.parsley-errors-list{
				@include transition(all 300ms);
				position: absolute;
				width: 100%;
				bottom: -70px;
				padding: 5px;
				border-radius: 5px 5px 5px 5px ;
				@include bold(10px, $darkGreen);
				line-height:1.3;
				text-align:left;
				&.filled{
					background:$lightGreen;
					border:1px solid $green;
					bottom:-62px;
					&:after{
						@include PE();
						width:16px;
						height:14px;
						background:url("../img/tooltipUp.png") center center no-repeat;
						position:absolute;
						top:-14px;
						left:20px;
					}
				}
			}
		}
	}

	#connectPop{
		width:400px;
		height:261px;
		background:#fff url("../img/bgConnectPopup.jpg") bottom left no-repeat;
		padding:30px 20px 30px 40px;
		h4{
			@include regular(24.8px, $greenText);
			position:relative;
			margin-bottom:20px;
			&:before{
				@include PE();
				position:absolute;
				content:"";
				left:-25px;
				top:4px;
				color:#fff;
				width:19px;
				height:19px;
				background:$greenText url("../img/keyIcon.png") center center no-repeat;
				line-height: 19px;
				text-align:center;
				@include border-radius(99px);
				font-size:12px;
			}
		}
		p{
			@include regular(13.43px, $greenText);
			margin-bottom:10px;
			&:last-child{
				margin-bottom:10px;
			}
			&.signUp{
				padding-right:20px;
				text-align: center;
				a{
					@include regular(12px, $greenText);
					@include inline-block();
					@include transition(all 300ms);
					margin:0 auto;
					margin:5px 0px;
					&:before{
						@include inline-block();
						content:">";
						width:15px;
						height:15px;
						background:$greenText;
						color:#fff;
						text-align:center;
						@include border-radius(99px);
						margin-right:3px;
					}
					&:hover{
						color:$blackText;
					}
				}
			}
		}

		form{
			position:relative;
			.fields{
				@include clearfix();
				margin-bottom:20px;
				position:relative;
				> div{
					float:left;
					width:130px;
					margin-right:10px;
					position:relative;
					input{
						display:block;
					}
				}
				a{
					@include regular(10px, $greenText);
					@include transition(all 300ms);
					&:hover{
						color:$blackText;
					}
				}
			}
			input[type="email"], input[type="text"], input[type="password"]{
				width:130px;
				height:25px;
				border:2px solid #a0a3a5;
				float:left;
				@include regular(13.8px, #a0a3a5);
				padding:0 4px;
				&:active, &:focus{
					outline:0;
				}
				&.parsley-error, &.error{
					border:2px solid $error;
				}
			}
			input[type="submit"]{
				width:24px;
				height:24px;
				@include transition(all 300ms);
				float: left;
				background:$greenText;
				@include border-radius(99px);
				@include regular(13px, #fff);
				padding:3px 0px;
				text-align: center;
				border:0px;
				@include box-shadow(0px 0px 0px transparent);
				cursor:pointer;
				&:hover{
					background:$lightGreen;
					color:$darkGreen;
				}
			}
			.error{
				margin-bottom:0px;
				position: absolute;
				width: 94%;
				bottom: -15px;
				padding: 5px;
				border-radius: 5px 5px 5px 5px ;
				@include bold(10px, $darkGreen);
				line-height:1.3;
				text-align:left;
				&.filled{
					background:$lightGreen;
					border:1px solid $green;
					bottom:-15px;
					&:after{
						@include PE();
						width:16px;
						height:14px;
						background:url("../img/tooltipUp.png") center center no-repeat;
						position:absolute;
						top:-14px;
						right:19px;
					}
				}
			}
			.parsley-errors-list{
				@include transition(all 300ms);
				position: absolute;
				width: 100%;
				top: 40px;
				padding: 5px;
				border-radius: 5px 5px 5px 5px ;
				@include bold(10px, $darkGreen);
				line-height:1.3;
				text-align:left;
				&.filled{
					background:$lightGreen;
					border:1px solid $green;
					top:31px;
					&:after{
						@include PE();
						width:16px;
						height:14px;
						background:url("../img/tooltipUp.png") center center no-repeat;
						position:absolute;
						top:-14px;
						left:20px;
					}
				}
			}
		}
	}

	#newsletter{
		width:400px;
		height:auto;
		background:#fff url("../img/newsletterBG.jpg") bottom left no-repeat;
		padding:30px 20px 30px 40px;
		h4{
			@include regular(24.8px, $greenText);
			position:relative;
			margin-bottom:20px;
			&:before{
				@include PE();
				position:absolute;
				content:">";
				left:-25px;
				top:4px;
				color:#fff;
				width:19px;
				height:19px;
				background:$greenText;
				line-height: 16px;
				text-align:center;
				@include border-radius(99px);
				font-size:12px;
			}
		}
		p{
			@include regular(13.43px, $greenText);
			margin-bottom:10px;
			&:last-child{
				margin-bottom:10px;
			}
		}

		form{
			position:relative;
			.fields{
				position:relative;
				padding:0 135px 0 30px;
				margin:15px 0px 0px;
				input{
					position:absolute;
					top:0px;
					left:0px;
				}
				label{
					@include medium(12px, $greenText);
				}
			}
			input[type="email"]{
				width:230px;
				height:25px;
				border:2px solid #a0a3a5;
				@include regular(13.8px, #a0a3a5);
				padding:0 4px;
				&:active, &:focus{
					outline:0;
				}
				&.parsley-error, &.error{
					border:2px solid $error;
				}
			}
			input[type="submit"]{
				margin-top:15px;
				width:auto;
				height:24px;
				@include transition(all 300ms);
				background:$greenText;
				@include border-radius(99px);
				@include regular(13px, #fff);
				padding:3px 10px;
				text-align: center;
				border:0px;
				@include box-shadow(0px 0px 0px transparent);
				cursor:pointer;
				position:relative;
				left:20px;
				&:hover{
					background:$lightGreen;
					color:$darkGreen;
				}
			}
			.error{
				margin-bottom:0px;
				position: relative;
				width: auto;
				bottom: 0px;
				padding: 5px;
				border-radius: 5px 5px 5px 5px ;
				@include bold(10px, $darkGreen);
				line-height:1.3;
				text-align:left;
				&.filled{
					background:$lightGreen;
					border:1px solid $green;
					bottom:-11px;
					&:after{
						@include PE();
						width:16px;
						height:14px;
						background:url("../img/tooltipUp.png") center center no-repeat;
						position:absolute;
						top:-14px;
						left:42px;
					}
				}
			}
			.parsley-errors-list{
				@include transition(all 300ms);
				position: relative;
				width: 100%;
				padding: 5px;
				border-radius: 5px 5px 5px 5px ;
				@include bold(10px, $darkGreen);
				line-height:1.3;
				text-align:left;
				&.filled{
					background:$lightGreen;
					border:1px solid $green;
					top:9px;
					&:after{
						@include PE();
						width:16px;
						height:14px;
						background:url("../img/tooltipUp.png") center center no-repeat;
						position:absolute;
						top:-14px;
						left:3px;
					}
				}
			}
		}
	}