.rowFluid{
	width:100%;
	min-width:986px;
	@include clearfix();
}

.row{
	width:986px;
	margin:0 auto;
	@include clearfix();
	position:relative;
}

html, body{
	background:url('../img/bg.jpg') center top;
	background-size:cover;
}