---
title: Page contact
description: Contact
---


		<div id="contact">
			<h1 class="pageTitle">Nous contacter</h1>

			<article class="contactCard commercial">
				<h2><span>Service <br/>Commercial</span></h2>

				<p>Contactez <span>Mme Martin</span></p>
				
				<p class="phone">02 43 02 15 46</p>

				<p class="mail">martin@mailtest.com</p>
			</article>

			<article class="contactCard produit">
				<h2><span>Service <br/>Produit</span></h2>

				<p>Contactez <span>Mme Martin</span></p>
				
				<p class="phone">02 43 02 15 46</p>

				<p class="mail">martin@mailtest.com</p>
			</article>

			<article class="contactCard recrutement">
				<h2><span>Recrutement</span></h2>

				<p>Contactez <span>Mme Martin</span></p>
				
				<p class="phone">02 43 02 15 46</p>

				<p class="mail">martin@mailtest.com</p>
			</article>

			<article class="contactCard indus">
				<h2><span>Pôle <br/>Industriel</span></h2>

				<p>Contactez <span>Mme Martin</span></p>
				
				<p class="phone">02 43 02 15 46</p>

				<p class="mail">martin@mailtest.com</p>
			</article>

		</div>